@model IEnumerable<Vidly.Models.Rental>
@{
    ViewBag.Title = "My Rentals";
}

<h2>My Rentals</h2>
<p>
    @Html.ActionLink("New Rental",
        "New",
        "Rentals",
        null,
        new { @class = "btn btn-primary" })
</p>

<table id="rentalTable" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Customer</th>
        <th>Movie</th>
        <th>Date Rented</th>
        <th>Return Status</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {

            

            var table = $('#rentalTable').DataTable({
                ajax: {
                    url: '/api/newRentals/',
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "customer.name",
                        render: function(data, type, customer) {
                            return "<a href='https://localhost:44349/customers/details/" + customer.customer.id + "'>" + data + "</a>";
                        }
                        
                    },
                    {
                        data: "movie.name"
                    },
                    {
                        data: "dateRented"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-rental-id=" + data + "> Delete </button>";
                        }
                    }
                ]
            });

            $('#rentalTable').on("click", ".js-delete", function () {

                var button = $(this);

                bootbox.confirm("Was this movie returned?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/newRentals/" + button.attr("data-rental-id"),
                            method: "DELETE",
                            success: function() {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    };
                });
            });
        });
    </script>
}