@model IEnumerable<Vidly.Models.Rental>
@{
    ViewBag.Title = "My Rentals";
}

<h2>My Rentals</h2>

@Html.ActionLink("New Rental",
    "New",
    "Rentals",
    null,
    new { @class = "btn btn-primary" })


<ul>
    @foreach (var r in Model)
    {
        <li>@r.Movie.Name</li>
    }
</ul>

